:root {
  --primary-color: #3a4052;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Mobile first */

/*                 de-Main-Navbar
********************************************************************* */
/* .dnav {
  visibility: visible;
  } */
@media (min-width:368px) {
  .navmenuitems {
    visibility: hidden;
    display: inline-flex;
    height: 20px;
    padding: 10px;
    text-decoration: none; 
  }     
}

@media (min-width:768px) {
  .navigation-clean {
    padding-top:1rem;
    padding-bottom:1rem;
  }

  
  
    .menu-btn {
      visibility: hidden;
    }
}

@media (max-width: 765px) {
  .ynavitems {
    visibility: hidden;
  }

  .phonecall {
    /* margin-top: 8vh; */
    visibility: hidden;

  }

}

.phonecall {
  margin-top: 3.7vh;
  cursor: pointer;
  font-size: 26px;
}

.phonecall:hover {
  color: red;
}
/* the whole navbar ( for both nav-menus and nav-collapse ) */
.ynavig {
 display:inline-block;
 position: fixed;
 height: 10vh;
 width: 100%;
/* margin-left: 0px; */
 margin-top: 0px;
 z-index: 6;
}

.dnav {
 display: grid;  
 grid-gap: 10px;
 padding: 0;
 align-content: center;
 list-style: none;
 grid-template-columns: 1fr 3fr 1fr ;
 z-index: 6; 
 position: fixed;
 background-color: rgb(255, 255, 255, 2);
 height: 10%;
 width: 100%;
 margin-top: 0px;
 margin-bottom: 20px;
}  

.yehadzah {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  align-content: left;
  font-weight: bold;
  margin: 10px; 
  margin-bottom: 1px;
  padding: 10px;
  padding-bottom: 10px; 
  color: red;
}

.ynavitems {
  display: flex;
  flex-direction: row; 
  align-items: center;
  margin-left: 5%; 
  margin-bottom: -5px;
  flex-wrap: wrap;
  list-style-type: none;
}

.ynavlist {
  font-weight: bold;
  padding-left: 25px;
}

 .menu-btn {
  position: absolute;
  z-index: 8;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; 
} 

.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: black;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: black;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: black;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {   /* Menu button transfromation */
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
  -ms-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
  -ms-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  /* margin-top: 20px; */
  /* background: black; */
  top: 0;
  left: 0;
  width: 100vw;
  /* height: 9vh;  */
  opacity: 0.98;
  visibility: hidden;
} 

.nav.open {
  /* margin-top: 10vh; */
  visibility: visible;
  /* background: white; */
}

 .nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
   
   margin-top: 8vh;
   margin-bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
          
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40vh;
  overflow: hidden;
  background: White;
  list-style-type: none;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

 .nav .menu-nav.open {
  -webkit-transform: translateY(0); 
          transform: translateY(0);
} 

 .menu-nav__item {
  
  /* -webkit-transform: translateX(100vw); 
          transform: translateX(100vw); */
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
} 

 .menu-nav__item.open {
  border-width: thick;
  border-color: red;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/* .nav .menu-nav__item.active > a {
  color: #ff652f;
} */

.nav .menu-nav__link {
  font-size: 1.2rem;
  /* padding: 2rem 0; */
  margin-left: 20px;
  font-family: 'sans-serif';
  font-weight: 400;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


.navspace {
  padding-top: 1rem;
}

 .callbutton {
  font-size: 5vh;
}


.nav .menu-nav__link:hover {
  color: red;
}

.menu-nav__link:hover {
  color: red;
}

/*           de-Body
 ***************************************** */
 .mainpg {
  width: 100%;
  height: 72vh; 
  background-repeat: no-repeat;
  background-size: cover;
}
.submainpg {
width: 100%;
height: 72vh; 
background-color: rgba(000, 000, 000, 0.5);
}

.mainpg1 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
/* display: flex;
flex-direction: column;
margin-top: 17px; */
}

.infobox1, .infobox2, .infobox3 {
height: 50vh;
/* width: ; */
margin: 10px;
margin-top: 15px;
padding: 10px;
border-radius: 8px;
box-shadow: -7px -7px aliceblue;
/* border-left: 2px solid aliceblue; */
border-right: 2px solid aliceblue;
border-bottom: 2px solid aliceblue;
}
.mainpg1 p {
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
  /* font-size: ; */
  padding-left: 15px;
  padding-top: 30px;
}

/*           de-Footer
 **************************************** */
 footer {
  background-color:#292c2f;
  box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing:border-box;
  width:100%;
  text-align:left;
  font:bold 16px sans-serif;
  padding:55px 50px;
  bottom:0;
  color:#fff;
}

.footer-navigation h3 {
  margin:0;
  font:normal 36px Cookie, cursive;
  margin-bottom:20px;
  color:#fff;
}

.footer-navigation h3 a {
  text-decoration:none;
  color:#fff;
}

.footer-navigation h3 span {
  color:#5383d3;
}

.footer-navigation p.links a {
  color:#fff;
  text-decoration:none;
}

.footer-navigation p.company-name {
  color:#8f9296;
  font-size:14px;
  font-weight:normal;
  margin-top:20px;
}

@media (max-width:767px) {
  .footer-contacts {
    margin:30px 0;
  }
}

.footer-contacts p {
  display:inline-block;
  color:#ffffff;
  vertical-align:middle;
}

.footer-contacts p a {
  color:#5383d3;
  text-decoration:none;
}

.fa.footer-contacts-icon {
  background-color:#33383b;
  color:#fff;
  font-size:18px;
  width:38px;
  height:38px;
  border-radius:50%;
  text-align:center;
  line-height:38px;
  margin:10px 15px 10px 0;
}

span.new-line-span {
  display:block;
  font-weight:normal;
  display:block;
  font-weight:normal;
  font-size:14px;
  line-height:2;
}

.footer-about h4 {
  display:block;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  margin-bottom:20px;
}

.footer-about p {
  line-height:20px;
  color:#92999f;
  font-size:13px;
  font-weight:normal;
  margin:0;
}

div.social-links {
  margin-top:20px;
  color:#fff;
}

.social-links a {
  display:inline-block;
  width:35px;
  height:35px;
  cursor:pointer;
  background-color:#33383b;
  border-radius:2px;
  font-size:20px;
  color:#ffffff;
  text-align:center;
  line-height:35px;
  margin-right:5px;
  margin-bottom:5px;
}

@media (min-width: 765px) {
  .rowfooter {
 display: grid;  
 grid-gap: 25px;
 padding: 0;
 align-content: center;
 list-style: none;
 grid-template-columns: 1fr 1fr 1fr;
  }
}
