
:root {
  /* --primary-color: #3a4052; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.gridd-show-two {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media (min-width: 650px) {
.grid-show-two {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.gridd-show-two {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
}
}

.dropedown-menu {
  margin-top:-5px;
  box-shadow:none;
  background-color:#fff;
  border-radius:2px;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item {
  line-height:2;
  color:#37434d;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
  background:#eee;
  color:inherit;
}



/* bckgrnd pic & it's foregrbd text
************************************ */
.imgbckgrnd {
  background-image: url("../assets/img/beachCoding2.jpg");
  padding-top: 0vh;
  margin-top: 0vh;
  position: relative;
  background-size:cover;
  background-repeat: no-repeat;
  height: 300px  /* "height: 100vh" will be used for the desktop backgrnd size  */
  
 }

 @media (min-width:768px) {
  .imgbckgrnd {
    background: var(--primary-color) url("../assets/img/beachCoding2.jpg");
    padding-top: 0vh;
    margin-top: 0vh;
    position: relative;
    background-size:cover;
    height: 70vh;
  }

  .blackgrnd {
    background-color: rgba(0, 0, 0, 0.5);
    height: 70vh;
  }
}

.blackgrnd {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
}

/* the slideshow style 
************************************ */
.slideshow-container {
    max-width: 1000px;
    height: auto;
    position: relative;
    margin: auto;
    background-color: #292c2f;
    
}

.mySlides {
  display: none;
  height: 400px;
}

.mySlides img {
  height: 400px;
}

/* .prev, */
.next {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: red;
    background-color: #292c2f;
    font-weight: bold;
    font-size: 15px;
    transition: .6s ease;
    border-radius: 100%;
    border: 1px solid red;
}

.next {
    right: 30px;
}
 
/* .prev {
    left: 10px;
}  */

.prev:hover,
.next:hover {
    color: red;
    background-color: #292c2f;
}

.divtxt {
    font: bold;
    position: absolute;
    font-family: 'lucida Sans';
    height: 100px;
    margin: 10px;
    width: auto;
}
.text {
    color: white;
    font-size: 25px;
    font-family: lucida;
    align-content: center;
    padding-left: 10%;
    margin: 0 auto;
    position: absolute;
    bottom: 200px;
    width: 80%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

 /* text animation 
 *************************************/
 /* .ytxtanimt {
  font-family: 'sans-serif';
  height: 70vh;
  width: 100%;
  color: white;
  text-justify: auto;
  box-shadow: aqua;
  overflow:hidden;
  position: absolute;
} */

.ytxtcontainer {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: top;
  z-index: 5;
  height: 20vh;
  width: 100%;
}


.ytxth1 {
  font-size: 3.5rem;
}

.ytxth2 {
  font-size: 2rem;
  font-family: 'Lucida Sans';
  margin-top: 20px;
  color: white;
}

/* Cursor */
.txt-type > .txt {
  justify-content: center;
  font-family: 'Lucida Sans';
  font-weight: 2px;
  border-right: 0.2rem solid rgb(255, 255, 255);
}

@media(min-width: 1200px) {
  .txth1 {
    font-size: 5rem;
  }
}

@media(max-width: 800px) {
  .ytxtcontainer {
    padding: 0 1rem;
  }

  .ytxth1 {
    font-size: 2.5rem;
  }
}

@media(max-width: 500px) {
  .ytxth1 {
    font-size: 2rem;
  }

  .ytxth2 {
    font-size: 1.5rem;
  }
}


/* bodysection two styles
************************************ */
.sectwo {
  height: 500%;
  background-color: green;
}

/* bodysection three
************************************ */
 .popular-data {
  width: 100%; 
 }
 .popular-data button {
  /* display: inline-block; */
  text-align: center;
  padding: 5px 15px;
  background: rgb(7, 8, 36);
  color: #fff;
  border-radius: 10px;
  border: solid rgb(12, 8, 8) 1px;
  margin-top: 25px;
  opacity: 0.7; 
 }


/* background video
************************************ */
.showcase {
  /* display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 0 20px;
  position: relative;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--primary-color) url('../assets/img/lightboxpic1.jpg') no-repeat center
      center/cover;
}

.video-container video {
  height: 100%;
  width: 100%;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.video-container:after {
  content: '';
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.noteicons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 60px;
  margin-left: 65px;
  width: 40vw;
  font-size: 4;
 }
 .social-icons {
  padding: 10px;
  font-size: 35px;
 }

.content {
  z-index: 2;
  align-items: center;
  width: 100%;
}
@media(min-width: 720px) {
  .noteicons {
    margin-left: 255px;
  }
  .content {
    width: auto;
  }
}
.content h1 {
  font-family: 'Lucida Sans';
  font-size: 35px;
  padding-top: 0;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 10px 30px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  border: solid #fff 1px;
  margin-top: 25px;
  opacity: 0.7;

}

.btn:hover {
  transform: scale(0.98);
  background-color: red;
}

#about {
  padding: 40px;
  text-align: center;
}

#about p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: auto;
}

#about h2 {
  margin: 30px 0;
  color: var(--primary-color);
}

/* top read styles */
.spanhr {
    /* display: block; */
    /* font-size: 0px; */
    margin-top: 10px;
    margin-bottom: 5;
    margin-right: 200px;
    margin-left: 10px;
}
hr {
    /* display: inline; */
    background-color: solid 1px red;
    z-index: 20;
    /* float: right; */
    /* width: auto; */
    margin-top: 10px;
    margin-right: 10%;
    margin-left: 10%; 
}

.yartrend {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 5%;
    align-items: center;
    padding: 0;
}
.yartrend a {
    display: block;
    margin-top: 10px;
}
.yartrend figure {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
}
.yartrend img {
    width: 20vh;
    height: 20vh;
    margin-top: 0;
    padding: 0;
}
.yartrend h2 {
    height: 20vh;
    font-size: 100%;
    margin-top: 10px;
    margin-left: 10px;
    /* padding: 0; */
}

.popular-data { 
  margin-top: 5vh;
}

@media(min-width: 720px){
.yartrend {
    margin-left: 200px;
    margin-right: 200px;
}
.yartrend img {
    width: 30%;
}
.yartrend h2 {
    font-size: 19px;
}

.popular-data {
  width: 22vw;
  margin-top: 0vh;
}
}