* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
  }
  
  a {
    text-decoration: none;
    color: var(--primary-color);
  }

.mainpg {
    background-image: url("../../assets/img/img-sfcst/App&Web Pic.jpg");
    width: 100%;
    /* height: 80vh;  */
    background-repeat: no-repeat;
    background-size: cover;
}

.yehadzah a {
    color: red;
}

@media(min-width: 760px){
  .submainpg h2 {
  font-size: 4rem;
  }
}
.submainpg {
padding-top: 5%;
}
.submainpg h2 {
  color: white; 
  font-family: lucida; 
  font-size: 5vh;
  margin-top: 20vh;
  margin-left: 20%;
  margin-right: 30%;
  }